@font-face{font-family:'Carter One', cursive;; src: url(https://fonts.googleapis.com/css?family=Carter+One);}

/* General CSS */

html {
	
}


body {
	min-width: 1228px;
	font: 12px  Arial, sans-serif;
	background: #fff;
}

header {	
	width: 100%;
	background: #a7d4dc url(../img/header_bg.png) 0 0 no-repeat;
	background-size: cover;
	padding-bottom: 124px;	

}

/*Контенйер, который задет ширину сайта*/

.container {
	width: 1228px;
	margin: 0 auto;
}

/*Окончание блока с контейнерм*/

.logo {
	float: left;
	margin-top: 50px;
}

nav ul {
	margin-top: 51px;
	float: right;
}

nav ul li {
	float: left;
	list-style: none;
	margin-left: 38px;
}

nav ul li a {
	text-decoration: none;
	color: #3a494c;
	font-size: 23pt;
	
}

.clearfix:after {
	content:"";
	display: block;
	clear: both;
}

h1 {	
	float: left;
	font-size: 54px;	
	color: #fff;
	margin-top: 194px;
}

span {	       
	padding-left: 30px;
}
	
.imac {
	margin-right: 123px;
	float: right;
	margin-top: 98px;
}

.secondSection {

	width: 100%;
	border-spacing: 10px;
	height: 520px;
	padding-top: 104px;
	
}

.secondSection img+p {
	color: #323232;
	font-size: 20px;
	font-weight: bold;
}

.secondSection p+p {
	color: #5e5e5e;
}

.col-wrap {
	display: table;
}
.col {
	display: table-cell;
	width: 33%;
	text-align: center;
}

/*Третья секция */

.thirdSection {
	width: 100%;
	background: #97d2a3;

}

table {
	width: 100%;
	border-spacing: 0px 80px;
	text-align: center;
}

h2,p.twoS {
	color: #fff;
	text-align: center;
	font-family: 'Carter One', cursive;
}

h2 {
	font-variant: small-caps;
	padding-top: 72px;
	font-size: 60px;
}

p.center {
	margin-top: 28px;
}


.menu {
	margin-top: 98px;
	margin-bottom: 74px;
	text-align: center;

}

.menu>a {
	text-decoration: none;
	font-variant: small-caps;
	color: #fff;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 34px;
	margin-left: -4px;
}

.menu>a:hover{
	color: #fff;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 34px;
	border: 2px solid #fff;
	border-radius: 5px;
		margin-left: -4px;
}


.thirdSection img {
	width: 350px;
	height: 262px;
}

#centerButton {
	text-align: center;
	padding-bottom: 120px;
}

.buttonTS {
	padding:15px;
	text-transform: uppercase;
	font-size: 22px;
	color: #A2A3A3;
	border-radius: 10px;
	background: #fff;
	box-shadow:0px 0px #000;
	border: 2px solid #fff;
}

/*Конец третьей секции*/

/*------- Четвенртая секция ------ */
 .foursSection {
	width: 100%;
	height: 952px;
	background: #fff;
	margin-top: 78px;
	color: #000;
}

.fourLeft {
	float: left;
	margin-right: 70px;
}

.fourRight {
	float: right;
	margin-left: 70px;
}

.greenFSButton {
	background: #9AD4A6;
	padding: 30px;
	font-size: 22px;
	position: absolute;
	bottom:0;
	border:1px solid transparent;
	border-radius: 10px;
	text-transform: uppercase;
	color: #fff;
	outline:none;
}

.greenFSButton:active {
	background: #A5D3DB;
	padding: 30px;
	font-size: 22px;
	position: absolute;
	bottom:0;
	border:1px solid transparent;
	border-radius: 10px;
	text-transform: uppercase;
	color: #fff;
}

.blueFSButton {
	background: #A5D3DB;
	padding: 30px;
	font-size: 22px;
	position: absolute;
	bottom:0;
	border:1px solid transparent;
	border-radius: 10px;
	text-transform: uppercase;
	color: #fff;
	outline:none;
}

.blueFSButton:active {
	background: #9AD4A6;
	padding: 30px;
	font-size: 22px;
	position: absolute;
	bottom:0;
	border:1px solid transparent;
	border-radius: 10px;
	text-transform: uppercase;
	color: #fff;
	outline:none;
}

.up {
	margin-bottom: 118px;
	position: relative;
	
}

.down {position: relative;}



/*------- Конец четвертой секции ------ */


/*------- Начало пятой секции ------ */

.fiveSection {
	width: 100%;
	height: 952px;
	background: #dfb6c5 ;
	padding-top: 86px;
}

p.fiveS {
	color: #fff;
	text-align: center;
	font-family: 'Carter One', cursive;
	font-size: 72px;
	text-transform: uppercase;
}

.center {
	text-align: center;
}

.whiteColor {
	color: #fff;
}

.fiveSectionImg {
	padding-right: 80px;
}

.fiveSectionImg:last-child {
	padding-right: 0;
}

/*------- Конец пятой секции ------ */

/*
.sixSection {
	width: 100%;
	height: 1022px;
	background: #b4d5e1;
	margin: 0 auto;
}

footer {
	height: 100%;
	background: #3c3d3d;
} */